@{
    ViewData["Title"] = "Home Page";
}
<div id="alertMessage">

</div>
<br />
<div class="container">
    <div class="row ">
        <div class="col-xs-2">
            <img src="/Home/UserPhoto/@User.Identity.Name" class="userphoto" />
        </div>
        <div class="col-xs-9">
            <form class="article-form" enctype="multipart/form-data" action="/Home/UploadPhysical" method="post" onsubmit="FetchSubmit(this); return false;">
                <div class="form-group">
                    <textarea id="messageInput" maxlength="300" rows="1" class="form-control" name="messageInput"></textarea>
                </div>
                <div id="imagepreview">
                </div>
                <div id="videopreview">
                </div>
                <label>
                    <span class="glyphicon glyphicon-picture image-icon" aria-hidden="true">
                        <input type="file" multiple accept=".jpg,.gif,.png,image/jpeg,image/gif,image/png" id="image-select" name="imagefiles" />
                    </span>
                </label>
                <label>
                    <span class="glyphicon glyphicon-film image-icon" aria-hidden="true">
                        <input type="file" multiple accept=".mp4,video/mp4" id="video-select" name="videofiles" />
                    </span>
                </label>
                <input type="submit" id="sendButton" class="btn btn-primary" value="投稿" />
                <input type="hidden" id="userInput" name="userInput" value="@User.Identity.Name" />
            </form>
            <br />
            <div id="pg" style="visibility: hidden;" class="progress mt-1">
                <span id="pgm"></span>
                <div id="pgb" class="progress-bar bg-success" role="progressbar"></div>
            </div>
        </div>
        <hr />
    </div>
    @{
        var list = ViewBag.list;
        //var active = "";
    }
    <div class="row">
        <div class="col-6">
            <div id="messagesList" class="scroll">
                @foreach (var article in list)
                {
                    <article class="media">
                        <div class="media-left">
                            <img src="/Home/UserPhoto/@article.User.UserName" class="userphoto" />
                        </div>
                        <div class="media-body" id=@article.Id>
                            <h4 class="media-heading">
                                @article.User.ApplicationUserName
                            </h4>
                            <div>@article.Text</div>
                            <div class="row">
                                @foreach (var content in article.Contents)
                                {
                                    <div class="col-xs-6">
                                        @if (content.getContentType() == "image")
                                        {
                                            <img class="content-image-preview lazy" data-original="/contents/@article.User.UserName/@content.FileName" onclick="popImage(this)" />
                                        }
                                        else
                                        {
                                            <video class="content-video-preview" onclick="popVideo(this)" preload="metadata" src="/contents/@article.User.UserName/@content.FileName/thumbnail.mp4">
                                            </video>
                                        }

                                    </div>
                                }
                            </div>
                        </div>
                    </article>
                }
                <nav>
                    @if (list.HasNextPage)
                    {
                        <a asp-action="Index" asp-controller="Home" asp-route-pageNum="@(list.Index + 1)" class="next">次</a>
                    }
                </nav>
            </div>
        </div>
    </div>

    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body">
                    <img src="" id="imageModalPreview" class="img-responsive" />
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="videomodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body">
                    <video id="videoModalPreview" width="100%" height="100%" controls />
                </div>
            </div>
        </div>
    </div>

    @*
        <nav aria-label="">
            <ul class="pagination">
                @if (list.HasPreviousPage)
                {
                    <li class="page-item">
                        <a asp-action="Index" asp-controller="Home" asp-route-pageNum="@(list.Index - 1)" class="page-link">前</a>
                    </li>
                }
                else
                {
                    <li class="page-item disabled">
                        <a href="#" class="page-link">前</a>
                    </li>
                }

                @for (int i = 1; i < list.Total + 1; i++)
                {
                    active = list.Index == i ? "active" : "";
                    <li class="page-item @active">
                        <a asp-action="Index" asp-controller="Home" asp-route-pageNum="@i" class="page-link">@i</a>
                    </li>
                }

                @if (list.HasNextPage)
                {
                    <li class="page-item">
                        <a asp-action="Index" asp-controller="Home" asp-route-pageNum="@(list.Index + 1)" class="page-link">次</a>
                    </li>
                }
                else
                {
                    <li class="page-item disabled">
                        <a href="#" class="page-link">次</a>
                    </li>
                }

            </ul>
        </nav>
    *@
</div>
@section Scripts{
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/articleSend.js"></script>
    <script src="~/js/preview.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <!-- Dialog -->
    <script type="text/javascript">function popImage(self) {
            $('#imageModalPreview').attr('src', $(self).attr('data-original'));
            $('#imagemodal').modal('show');
        }</script>
    <script type="text/javascript">
        function popVideo(self) {
            
            if (Hls.isSupported()) {
                var video = document.getElementById('videoModalPreview');
                var hls = new Hls();

                hls.loadSource($(self).attr('src').split("/").reverse().slice(1).reverse().join("/") + "/video.m3u8");
                hls.attachMedia(video);
            }
            $('#videomodal').modal('show');
        }</script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js"></script>
    <script type="text/javascript">$(function () {
            $('.scroll').jscroll({
                loadingHtml: '<p style="text-align:center"><img src="/images/loading.gif" /></p>',
                contentSelector: '.scroll',
                nextSelector: 'a.next',
                autoTrigger: true,
                callback: function () {
                    $('img.lazy').lazyload();
                }
            })
        });</script>
    <script type="text/javascript">$(function () {
            $('#messageInput').on('change keyup keydown paste cut', function () {
                if ($(this).outerHeight() > this.scrollHeight) {
                    $(this).height(1)
                }
                while ($(this).outerHeight() < this.scrollHeight) {
                    $(this).height($(this).height() + 1)
                }
            });
        });</script>


    <!-- LazyLoad -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.js"></script>
    <script type="text/javascript">
        $('img.lazy').lazyload();
    </script>
}

